<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DeptDao">
    <resultMap id="Dept" type="com.entities.Dept">
        <id column="deptno" jdbcType="SMALLINT" property="deptno" />
        <result column="dname" jdbcType="VARCHAR" property="dname" />
        <result column="db_source" jdbcType="VARCHAR" property="db_source" />
    </resultMap>

    <select id="findAll" resultMap="Dept">
        select deptno,dname,db_source from dept;
    </select>

    <select id="getDept" resultMap="Dept" parameterType="java.lang.Long">
        select deptno,dname,db_source from dept where deptno = #{deptno};
    </select>
    <insert id="addDept" parameterType="com.entities.Dept">
       INSERT INTO clouddb01.dept (dname,db_source) VALUES(#{dname},DATABASE());
     </insert>


</mapper>
